<div class="container-fluid bg-ParallaxBasic">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-xl-6 col-xs-12">
            <h1 class="display-1 text-white text-end">
                Este es el primer texto dentro de un parallax
            </h1>
        </div>
        <div class="col-xl-6 col-xs-12 d-flex justify-content-center align-items-center">
            <script
                src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
                type="module"></script>

            <dotlottie-player
                src="https://lottie.host/48172740-caa5-48b3-8b94-771b5cac1f9f/GtJoUca8Gn.json"
                background="transparent"
                speed="1"
                style="width: 500px; height: 500px;"
                loop
                autoplay></dotlottie-player>
        </div>
    </div>
</div>
<style>
    .bg-ParallaxBasic {
        background-image: url("https://shorturl.at/nxIV3");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>
